.login {
  /* width: 50%; */
  margin: auto;
  padding: 100px;
}
.inside  {
  margin-bottom: 30px;
}

.username, .signinp {
  padding: 30px;
  font-weight: 500;
  font-size: 20px;
}
#outlined-basic {
  height: 15px;
  width: 300px;
}

.login-btn {
  margin-left: 300px !important;
  margin-top: 50px !important;
  background-color: blueviolet !important;
  width:  180px !important;
}

.signup-btn {
  margin-top: 50px !important;
  margin-left: 300px !important;
  width: 180px !important;
  border-color: blueviolet !important;
  color: blueviolet !important;
  text-decoration: none !important;
}